header, section, footer, aside, nav, main, article, figure {
    display: block
}
body {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
    background-size: auto 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Fira Mono", "Lucida Console", Monaco, monospace;
    max-width: 200vh;
    overflow-x: hidden;
    box-sizing: border-box;
}
#unmoving-head {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 9;
    background: inherit
}
#unmoving-nav {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 10;
    background: inherit
}
header {
    padding: 20px 20px 20px 40px;
    margin: 0px;
    width: 100vh;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: aqua;
    box-shadow: 0 10px 5px -5px #0008;
    z-index: 8
}
h1 {
    margin: 0px
}
p {
    color: #fdfdfd;
    text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975; 
}
a.title {
    color: aqua
}
a.title:link {
    text-decoration: none
}
a.title:visited {
    color: aqua
}
a.email {
    color: aqua
}
a.email:link {
    text-decoration: none
}
a.email:hover {
    text-decoration: underline
}
a {
    color: deeppink
}
a:link {
    text-decoration: none
}
a:visited {
    color: mediumvioletred
}
a:hover {
    color: deeppink;
    text-shadow: 0 0 1px #100c0f, 0 0 3px #dc078e33, 0 0 6px #fff3
}
nav {
    margin: 0 0 0 0;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: aqua;
    border-width: 1px;
    max-width: 100%;
    width: 300px;
    float: left;
    box-shadow: 5px 5px 5px #0008;
    z-index: 10
}
nav div.navborder {
    padding-bottom: 1px;
    margin: 0px 2px 2px 0px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: aqua;
    border-width: 1px;
}
#navindent {
    margin-left: 80px
}
main {
    margin: 230px 70px 100px 70px;
    width: 100%;
    z-index: 5;
    overflow:auto;
    align-self: center;
    max-width: 80%
}
.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 300px
}
#instagram-icon {
    margin: 60px 60px 60px 60px
}
#gcih-icon {
    margin-bottom: 60px
}
#giac-advisory-icon {
    margin-bottom: 60px
}
@media (min-width:320px) {
    #twitch-embed {
        display: none
    }   
    #twitch-embed-nochat {
        width: 240px;
        height: 160px;
        overflow: auto
    } 
}
@media (min-width:481px) { 
    #twitch-embed {
        display: none;
    }
    #twitch-embed-nochat {
        width: 360px;
        height: 240px;
        overflow: auto
    }
 }
@media (min-width:641px) { 
    #twitch-embed {
        display: none;
    }
    #twitch-embed-nochat {
        width: 480px;
        height: 360px;
        overflow: auto
    }
 }
@media (min-width:961px) { 
    #twitch-embed {
        display: block;
        width: 720px;
        height: 320px;
        overflow: auto
    }
    #twitch-embed-nochat {
        display: none
    }
 }
@media (min-width:1025px) { 
    #twitch-embed {
        display: block;
        width: 960px;
        height: 430px;
        overflow: auto
    }
    #twitch-embed-nochat {
        display: none
    }
 }
@media (min-width:1281px) { 
    #twitch-embed {
        display: block;
        width: 1080px;
        height: 480px;
        overflow: auto
    }    
    #twitch-embed-nochat {
        display: none
    }
}
@media (min-width:1700px) {
    #twitch-embed {
        display: block;
        width: 1335px;
        height: 600px;
        overflow: auto
    }
    #twitch-embed-nochat {
        display: none
    }
}
#unmoving-bottom {
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: 9;
    background: inherit
}
footer {
    padding: 0px 0px 30px 0px;
    color: aqua;
    border-top-style: double;
    border-width: 1px;
    border-color: aqua;
    box-shadow: 0 -10px 5px -5px #0008;
    width: 100vh
}
footer p {
    margin-left: 40px
}